@{
    ViewBag.Title = "Завершение регистрации";
}

<div class="container">
    <br /><br /><br />
    <center><h2>@ViewBag.Title</h2></center>

    <h4 class="head-pos">На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации</h4>
</div>
